* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy, sans-serif;
  letter-spacing: 1px; }

main {
  height: 100vh; }

.loading {
  opacity: 1;
  z-index: -40;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 1s; }
  .loading__start-game {
    position: fixed;
    background-color: #34495e;
    height: 100vh;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; }

.start:link,
.start:visited,
.back:link,
.back:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px 50px;
  border-radius: 100px;
  transition: all .2s; }

.start {
  background-color: #3498db;
  color: #FFF;
  font-family: sans-serif; }

.start:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 80px 0px #ecf0f1; }

.start:active {
  transform: translateY(-1px); }

.space {
  background-image: url("../img/stars.svg");
  background-color: #34495e;
  height: 75%;
  position: relative; }

.planet {
  height: 40px;
  width: 40px;
  background: linear-gradient(to bottom right, #d35400, #e67e22);
  border-radius: 50%;
  position: absolute;
  left: 540px;
  top: 130px;
  animation: goAround 4s infinite;
  display: none; }

@keyframes goAround {
  50% {
    left: calc(66% - 100px);
    top: calc(85% - 100px);
    /* transform: scale(0.4); */ }
  100% {
    z-index: 5;
    /* transform: scale(1); */ } }

.neptune-planet {
  height: 60px;
  width: 60px;
  background: linear-gradient(to bottom right, #2980b9, #3498db);
  border-radius: 50%;
  position: absolute;
  left: 540px;
  top: 130px;
  animation: goAround2 4s  infinite;
  display: none; }

@keyframes goAround2 {
  50% {
    left: calc(66% - 100px);
    top: calc(85% - 100px);
    /* transform: scale(0.4); */ }
  100% {
    z-index: 5;
    /* transform: scale(1); */ } }

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  background-color: #f1c40f;
  border-radius: 50%;
  box-shadow: 0px 0px 80px 0px #f1c40f;
  animation: shadow 3s infinite both ease-in-out; }

@keyframes shadow {
  0% {
    box-shadow: 0px 0px 80px 0px #f1c40f; }
  50% {
    box-shadow: 0px 0px 180px 0px #f1c40f; }
  100% {
    box-shadow: 0px 0px 80px 0px #f1c40f; } }

.water {
  height: 10px;
  width: 10px;
  background-color: blue; }

.tree {
  height: 10px;
  width: 10px;
  background-color: green; }

.mountains {
  height: 10px;
  width: 10px;
  background-color: grey; }

.dashboard {
  background-color: #2f3640;
  height: 25%;
  display: flex; }

.all-planets {
  flex: 4; }

.progress {
  flex: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around; }

.mars, .neptune, .venus {
  height: 33.33%; }

.mars-status, .venus-status, .neptune-status {
  display: flex;
  padding-left: 20px; }

.btn-mars {
  width: 60px;
  height: 30px; }

.up {
  width: 140px;
  height: 35px;
  background-color: #7f8c8d;
  color: #ecf0f1;
  border: none;
  transition: color .6s; }

.up:hover {
  color: #2ecc71; }

.level {
  height: 35px;
  width: 60px; }

.pocket, .passive {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #f1c40f;
  font-weight: bold;
  width: 200px;
  height: 30px; }

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #2ecc71; }

.mars {
  display: flex;
  align-items: center; }
  .mars__planet {
    margin-left: 20px;
    height: 50px;
    width: 50px;
    background: linear-gradient(to bottom right, #d35400, #e67e22);
    border-radius: 50%; }

.neptune {
  display: flex;
  align-items: center; }
  .neptune__planet {
    margin-left: 20px;
    height: 50px;
    width: 50px;
    background: linear-gradient(to bottom right, #2980b9, #3498db);
    border-radius: 50%; }

.venus {
  display: flex;
  align-items: center; }
  .venus__planet {
    margin-left: 20px;
    height: 50px;
    width: 50px;
    background: linear-gradient(to bottom right, #ccae62, #ffda79);
    border-radius: 50%; }

.btnall {
  width: 180px;
  height: 120px;
  background-color: #7f8c8d;
  color: #ecf0f1;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: box-shadow 3s;
  cursor: pointer; }

.btnall-ani {
  transition: transform .2s; }

.btnall:hover {
  box-shadow: 0px 0px 40px 0px #95a5a6;
  color: #f1c40f; }

.btnall-ani:hover {
  transform: translateY(-4px); }

.btnall-ani:active {
  transform: translateY(4px); }

.btnall-box {
  flex: 1;
  display: flex;
  align-items: center; }

.pocket-box {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.hamburger {
  position: absolute;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: none;
  right: 10px;
  top: 10px;
  z-index: 1; }

.hamburger:hover .hamburger__inner::before {
  transform: rotate(90deg); }

.hamburger:hover .hamburger__inner::after {
  transform: rotate(-90deg); }

.hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

.hamburger__inner::before, .hamburger__inner::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  left: 0;
  transition: transform .2s; }

.hamburger__inner::before {
  top: -10px; }

.hamburger__inner::after {
  top: 10px; }

.hamburger--active .hamburger__inner {
  background-color: transparent; }

.hamburger--active .hamburger__inner:before {
  transform: translateY(10px) rotate(45deg); }

.hamburger--active .hamburger__inner:after {
  transform: translateY(-10px) rotate(-45deg); }
