.dashboard {
    background: linear-gradient(to bottom right,#9b59b6, #2f3640);
    height: 25%;
    display: flex;
}
.all-planets {
    flex: 4;
}

.progress {
    flex: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.mars, .neptune, .saturn {
    height: 33.33%;
}


.mars-status, .saturn-status, .neptune-status {
    display: flex;
    padding-left: 20px;
}

.btn-mars {
    width: 60px;
    height: 30px;
}

.up {
    width: 150px;
    height: 35px;
    background-color: #5758BB;
    color: #ecf0f1;
    border: none;
    transition: color .6s;
}

.up:hover {
    color: #2ecc71;
}

.level {
    height: 35px;
    width: 60px;
}

.pocket, .passive {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #f1c40f;
    font-weight: bold;
    width: 200px;
    height: 30px;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #2ecc71;
}

.mars {
    display: flex;
    align-items: center;
    &__planet {
        margin-left: 20px;
        height: 50px;
        width: 50px;
        background-image: url('../../img/mars.svg');
        border-radius: 50%;
    }
}

.neptune {
    display: flex;
    align-items: center;
    &__planet {
        margin-left: 20px;
        height: 50px;
        width: 50px;
        background-image: url('../../img/neptune.svg');
        border-radius: 50%;
    }
}

.saturn {
    display: flex;
    align-items: center;
    &__planet {
        margin-left: 20px;
        height: 50px;
        width: 50px;
        background-image: url('../../img/saturn.svg');
        border-radius: 50%;
    }
}

.btnall {
    width: 180px;
    height: 120px;
    background-color: #5758BB;
    color: #ecf0f1;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    outline: none;
    transition: box-shadow 3s;
    cursor: pointer;
}

.btnall-ani {
    transition: transform .2s;
}

.btnall:hover {
    box-shadow: 0px 0px 40px 0px rgba(149,165,166,1);
    color: #f1c40f;
}

.btnall-ani:hover {
    transform: translateY(-4px);
}

.btnall-ani:active {
    transform: translateY(4px);
}

.btnall-box {
    flex: 1;
    display: flex;
    align-items: center;
}

.pocket-box {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
