.btn-white {}

.hamburger {
    position: absolute;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    outline: none;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.hamburger:hover .hamburger__inner::before {
    transform: rotate(90deg);
}

.hamburger:hover .hamburger__inner::after {
    transform: rotate(-90deg);
}

.hamburger__box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger__inner {
    width: 100%;
    height: 3px;
    background-color: #FFF;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hamburger__inner::before, .hamburger__inner::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #FFF;
    position: absolute;
    left: 0;
    transition: transform .2s;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
    transform: translateY(-10px) rotate(-45deg);
}
