.space {
    background-image: url('../img/stars.svg');
    background-color: #34495e;
    height: 75%;
    position: relative;
}

.planet {
    height: 40px;
    width: 40px;
     // background: linear-gradient(to bottom right,#e84118, #c23616);
    background-image: url('../../img/mars.svg');
    border-radius: 50%;
    position: absolute;
    left: 540px;
    top: 130px;
    animation: goAround 12s infinite ease-in-out;
    display: none;
}

@keyframes goAround {
    50% {
        left: calc(66% - 100px);
        top: calc(85% - 100px);
        /* transform: scale(0.4); */
    }

    100% {
        z-index: 5;
        /* transform: scale(1); */
    }
}

.neptune-planet {
    height: 60px;
    width: 60px;
    background-image: url('../../img/neptune.svg');
    border-radius: 50%;
    position: absolute;
    left: 540px;
    top: 130px;
    animation: goAround2 12s  infinite ease-in-out;
    display: none;
}

@keyframes goAround2 {
    50% {
        left: calc(66% - 100px);
        top: calc(85% - 100px);
        /* transform: scale(0.4); */
    }

    100% {
        z-index: 5;
        /* transform: scale(1); */
    }
}

.saturn-planet {
    height: 80px;
    width: 80px;
    background-image: url('../../img/saturn.svg');
    border-radius: 50%;
    position: absolute;
    left: 540px;
    top: 130px;
    animation: goAround3 12s  infinite ease-in-out;
    display: none;
}

@keyframes goAround3 {
    50% {
        left: calc(66% - 100px);
        top: calc(85% - 100px);
        /* transform: scale(0.4); */
    }

    100% {
        z-index: 5;
        /* transform: scale(1); */
    }
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom right,#f1c40f, #c0392b);
    border-radius: 50%;
    box-shadow: 0px 0px 80px 0px rgba(241, 196, 15, 1);
    animation: shadow 4s infinite both ease-in-out;
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 40px 0px rgba(241, 196, 15, 1);
    }
    50% {
        box-shadow: 0px 0px 180px 0px rgba(241, 196, 15, 1);
    }

    100% {
        box-shadow: 0px 0px 40px 0px rgba(241, 196, 15, 1);
    }
}
.water {
    height: 16px;
    width: 16px;
    background-image: url('../../img/sea.svg');
    position: absolute;
    left: 12px;


}
.tree {
    height: 16px;
    width: 16px;
    background-image: url('../../img/tree.svg');
    position: absolute;
    top: 12px;


}
.mountains {
    height: 16px;
    width: 16px;
    background-image: url('../../img/mountains.svg');
    position: absolute;
    top: 12px;
    left: 20px;
}
