.space {
    background-image: url('../img/stars.svg');
    background-color: #34495e;
    height: 75%;
    position: relative;
}

.planet {
    height: 40px;
    width: 40px;
    background: linear-gradient(to bottom right,#d35400, #e67e22);
    border-radius: 50%;
    position: absolute;
    left: 540px;
    top: 130px;
    animation: goAround 4s infinite;
    display: none;
}

@keyframes goAround {
    50% {
        left: calc(66% - 100px);
        top: calc(85% - 100px);
        /* transform: scale(0.4); */
    }

    100% {
        z-index: 5;
        /* transform: scale(1); */
    }
}

.neptune-planet {
    height: 60px;
    width: 60px;
    background: linear-gradient(to bottom right,#2980b9, #3498db);
    border-radius: 50%;
    position: absolute;
    left: 540px;
    top: 130px;
    animation: goAround2 4s  infinite;
    display: none;
}

@keyframes goAround2 {
    50% {
        left: calc(66% - 100px);
        top: calc(85% - 100px);
        /* transform: scale(0.4); */
    }

    100% {
        z-index: 5;
        /* transform: scale(1); */
    }
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    background-color: #f1c40f;
    border-radius: 50%;
    box-shadow: 0px 0px 80px 0px rgba(241, 196, 15, 1);
    animation: shadow 3s infinite both ease-in-out;
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 80px 0px rgba(241, 196, 15, 1);
    }
    50% {
        box-shadow: 0px 0px 180px 0px rgba(241, 196, 15, 1);
    }

    100% {
        box-shadow: 0px 0px 80px 0px rgba(241, 196, 15, 1);
    }
}
.water {
    height: 10px;
    width: 10px;
    background-color: blue;
}
.tree {
    height: 10px;
    width: 10px;
    background-color: green;
    // position: absolute;
    // left: 10px;
}
.mountains {
    height: 10px;
    width: 10px;
    background-color: grey;
    // position: absolute;
    // left: 10px;
}
